<div>
    <app-header></app-header>
    <div class="container  ">

        <input type="text" name="title" v-model="noteJson.title" placeholder="Title" class="title-input" id="title-input">
        <div class="editor-container">
<!--             <quill-editor [styles]="{height: '200px'}" (onEditorChanged)="changeEditor($event)"></quill-editor>
 -->        </div>
        <div v-if="labels" class="label-container">
                <h3>Labels:</h3>
                <span  v-for="label in labels" v-bind:key="label" >
                    <button class="label">LABELS</button>
                </span>
                <button class="material-icons-outlined add-bttn" id="add-bttn" data-toggle="modal" data-target="#addLabelComponent"> <i class="fas fa-plus"></i></button>
        </div>

    </div>
<!--     <AddLabelComponent @emitNewLabels="newLabels"></AddLabelComponent>
 --></div>